@import "./common.scss";

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;

    header {
        height: 8vh;
        background-color: #005937;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        a {
            color: lightgreen;
        }
    }

    .main-content {
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px;
        background-color: #708cde;
        gap: 90px;

        background-size: 300% 300%;
        background-image: linear-gradient(
            -45deg, 
            #005937 0%, 
            #1B5941 25%, 
            #00A666 51%, 
            #00DA85 100%
        );  
        animation: AnimateBG 20s ease infinite;

        p, h3 {
            color: black;
        }

        .quest {
            padding: 30px;
            display: flex;
            flex-direction: column;
            border: 3px #1B5941 solid;
            border-radius: 30px;
            width: 250px;
            height: 300px;
            gap: 30px;
            transition: 1s;

            .quest-top {
                text-align: center;
                background-color: #00A666;
                padding: 10px;
                border-radius: 20px;
                transition: 1s;
            }
            
            .quest-body {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 15px;
            }

            &:hover {
                cursor: pointer;
                background-color: #43DFA3;
                transition: 1s;
                .quest-top { background-color: #1B5941; transition: 0.5s; }
            }
        }

        .quest03 {
            text-align: center;
            justify-content: center;

            img {
                align-self: center;
            }
        }
    }
}